[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pandas = "*"
"psycopg2-binary" = "*"
simplejson = "*"
firebase_admin = "*"

[dev-packages]

[requires]
python_version = "3.7"
