.filterGroup {
	width: 80%;
	margin: auto;
	overflow: auto;
	border-bottom: solid grey 1px;
}

.text {
	float: left;
	padding-top: 15px;
}

.checkbox {
	float: right;
	overflow: auto;
}

#topSelect {
	padding-top: 10px;
}