.filterSelect {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.filterGroup {
	width: 100%;
	margin: auto;
	overflow: auto;
}

.text {
	float: left;
	padding-top: 15px;
}

.checkbox {
	float: right;
	overflow: auto;
}

#topSelect {
	padding-top: 10px;
}