.listViewCard {
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0px 2px 5px 1px #BABABA;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 195px;
	margin-bottom: 41px;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.noteBookmark {
	float: right;
}

.name {
	font-weight: 600;
}

.type {
	padding-left: 20px;
}

.subContent {
	margin-bottom: 12px;
}

.icon {
	color: rgba(0, 0, 0, 0.38);
}