#searchBar{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 33px;
  margin-bottom: 19px;
  border-radius: 1px;
  width: 80%;
  background-color: #f7f7f7 !important;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 70px;
  height: 24px;
  margin-top: 24px;
  margin-left: 20px;
}

.search {
  height: 49px;
}
/*.searchIcon {
  float: left;
  color: grey;
  padding: 6px;
  display:inline-block;
}*/
/*
.inputBar {
  width: 85%;
  float: right;
  margin-right: 5px;
}*/