#searchBar{
  margin: 8px 24px 24px 24px;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
}

.logo {
  height: 24px;
}

.search {
  height: 49px;
}

.loginButton {
  cursor: pointer;
}

.topBar {
  margin: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.searchIcon {
  float: left;
  color: grey;
  padding: 6px;
  display:inline-block;
}*/
/*
.inputBar {
  width: 85%;
  float: right;
  margin-right: 5px;
}*/