.serviceProvider {
    background: #E3E3E3;
}

.serviceProvider .toolbarLayout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.serviceProvider .toolbarLayout * {
    color: white !important;
}

.serviceProvider .dialogTitle {
    font-size: 20px;
    font-weight: 600;
}

.serviceProvider .serviceProvider.content {
    margin: 128px 176px;
}

.serviceProvider .contentHeader {
    display: grid;
    grid-template-columns: auto 108px;
}

.serviceProvider .contentTitleContainer {
    grid-column: 1;
}

.serviceProvider .contentTitle {
    color: rgba(0, 0, 0, 0.38);
    font-size: 24px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
}

.serviceProvider .last-updated-at {
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.serviceProvider .iconContainer {
    grid-column: 2;
    color: rgba(0, 0, 0, 0.6);
}

.serviceProvider .bookmarkIcon svg {
    font-size: 32px;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.38);
}

.serviceProvider .editIcon svg {
    font-size: 28px;
    cursor: pointer;
}

.serviceProvider .bookmarkIcon.bookmarked svg {
    fill: #FF6319;
}

.serviceProvider .informationSection {
    margin-top: 36px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
}

.serviceProvider .informationSection div,
.serviceProvider .informationSection input
{
    padding-left: 32px;
    padding-right: 32px;
}

.serviceProvider .informationSection .sectionTitle {
    padding-top: 10px;
    padding-bottom: 12px;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.serviceProvider .informationSection .sectionContents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    padding: 0;
}

.serviceProvider .informationSection .sectionCell {
    padding-top: 28px;
    padding-bottom: 26px;
    background: white;
    outline: none;
    border: none;
    font-size: 16px;
}

.serviceProvider .informationSection .section-label {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.serviceProvider .notesContainer {
    padding: 16px 16px 16px 32px !important;
    cursor: text;
    background: white;
}

.serviceProvider .notes {
    width: 100%;
    height: 240px;
    outline: none;
    border: none;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
}

.serviceProvider .buttonContainer {
    display: flex;
    margin: 36px 0;
    justify-content: flex-end;
}

.serviceProvider .buttonWidth {
    width: 96px;
    margin-left: 32px;
}

.margin-right-12 {
    margin-right: 12px;
}


